* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {
  max-width: 1359px;
  height: fit-content;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0.9375rem 5.1875rem 0.9375rem 5.1875rem;
  gap: 1.8125rem;
  background-color: #192026;
}

div.header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.header h1 {
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
}

div.header a {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: #868686;
}

div.header input {
  width: 23.41125rem;
  border-radius: 2.3125rem;
  border: none;
  padding: 0.5rem 6.25rem 0.5rem 1.125rem;
  gap: 0.625rem;
  background-color: #374151;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: #868686;
}

div.title1 {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: #ffffff;
  margin: 1rem 0;
  padding: 0;
}

div.question {
  font-size: 1.375rem;
  line-height: 1.5469rem;
  font-weight: 400;
  color: #868686;
  padding: 0;
  margin-bottom: 1rem;
}

div.title3 {
  margin: 2rem 0;
  font-size: 2.25rem;
  line-height: 2rem;
  color: #ffffff;
}

div.listfilm {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.875rem;
}
